{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<h4>Match Ligue 1 2021-2022</h4>
	<p>Les 3 premiers se qualifient pour la Ligue des Champions.
</p>
<p>Le 4e et le vainqueur de la Coupe de France 2022 se qualifient pour la Ligue Europa, le 5e pour la Ligue Europa Conférence.</p>

{% for result in results.response %}
	<table class="table table-striped table-hover match-day" id="match-{{result.fixture.id}}" data-fixture-id="{{result.fixture.id}}" >
		<thead>
			<tr>
				<th scope="col" width="20%">{{result.fixture.date |date("d/m/Y g:ia") }}</th>
				<th scope="col" width="20%"></th>
				<th scope="col" width="20%">{{result.league.round }}</th>
				<th scope="col" width="20%"></th>
				<th scope="col" width="20%"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="{{result.teams.home.logo}}" width="80px"/></td>
				<td>
					<span class="score">{{result.goals.home}}</span>
				</td>
				<td>
					<span class="score">-</span>
				</td>
				<td>
					<span class="score">{{result.goals.away}}</span>
				</td>
				<td><img src="{{result.teams.away.logo}}" width="80px"/>
				</td>
			</tr>
			<tr>
				<td>{{result.teams.home.name}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{result.teams.away.name}}</td>
			</tr>
			<tr>
				<td>
					{% if result.fixture.status.short != 'FT'  %}
						<span class="text-red">LIVE</span>
						{{ result.fixture.status.elapsed }}
					{% else %}
						Terminé
					{% endif %}
				</td>
				<td></td>
				<td>
					<img src="{{asset('build/images/arbitre.png')}}" alt="arbitre" width="30px"/>
					:
					{{result.fixture.referee}}</td>
				<td></td>
				<td><img src="{{asset('build/images/stade.jpg')}}" alt="stade" width="40px"/>{{result.fixture.venue.name}}
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
{% endfor %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script> 
$(document).ready(function() {
    $(".match-day").click(function() {
		var id =  $(this).attr("data-fixture-id");
		var link = "{{ url('league_match_detail', { 'id' : 'fixture_id'}) }}";
		link = link.replace("fixture_id", id);
        window.location.replace(link);
    });
});
</script>
<script src="{{ asset('build/js/custom.js') }}"></script>
{% endblock %}
